annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
beautifulsoup4==4.13.4
black==25.1.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
deepdiff==7.0.1
dipy==1.9.0
distro==1.9.0
et_xmlfile==2.0.0
fonttools==4.54.1
h11==0.16.0
h5py==3.11.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
jiter==0.10.0
kiwisolver==1.4.7
matplotlib==3.9.2
mypy_extensions==1.1.0
nibabel==5.2.1
numpy==2.0.0
openai==1.93.0
openpyxl==3.1.5
ordered-set==4.1.0
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.3
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.3.8
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pyparsing==3.1.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2024.2
pywin32==310
requests==2.32.3
scipy==1.14.0
selenium==4.33.0
setuptools-scm==8.1.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
TIME-python==0.0.17
tqdm==4.66.4
trio==0.30.0
trio-websocket==0.12.2
trx-python==0.3
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2024.2
urllib3==2.4.0
webdriver-manager==4.0.2
websocket-client==1.8.0
wget==3.2
wsproto==1.2.0
xlrd==1.2.0
xlwings==0.33.15
